# Node
**/node_modules/
npm-debug.log
yarn-error.log
.env

# Angular
**/.angular/
**/dist/
**/.vscode/
.DS_Store

# IDEs and editors
.idea/
.project
.classpath
.settings/
*.sublime-workspace
*.sublime-project
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json

# Local env files
.env.local
.env.*.local

# SQL files (optional, depends if user wants to track them)
# script.sql 
