<main>
    <h2>Actas de reuniones pasadas</h2>

    <div class="content-container">
        <aside class="meeting-list">
            <button *ngFor="let meeting of meetings" [class.selected]="meeting === selectedMeeting"
                (click)="selectMeeting(meeting)" class="meeting-button">
                {{ meeting.date | date:'yyyy/MM/dd' }} - {{ meeting.subject }}
            </button>
        </aside>

        <section class="meeting-detail" *ngIf="selectedMeeting">
            <div class="detail-header">
                <h3>{{ selectedMeeting.subject }} - {{ selectedMeeting.date | date:'yyyy/MM/dd' }}</h3>
                <button class="pdf-btn" (click)="downloadPDF()">Descargar PDF</button>
            </div>
            <p>{{ selectedMeeting.detail }}</p>
        </section>
    </div>
</main>